//
// Navbar guidelines
//

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: $br-brand;
  border-radius: 0;

  .navbar-brand {
    font-size: 1.5rem;
    > img {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }

  .navbar-nav {
    float: right;

    .nav-item+.nav-item {
      margin-left: 1.25rem;
    }
  }
}
