//
// Content guidelines
//

.about-that {
  h2 {
    font-size: 21px;
    font-weight: normal;
  }
  p {
    padding-right: .5rem;
    line-height: 1.5;
    color: #555;
  }
}

.about {
  h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
}
